<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.team2348.moviesaurus">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dino_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="khOuHkzG8wtECLi7s2p7vEa95MkzFjzhjZFFWAqs" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="yQTTLkvCSwH0KCZDdNWlAnM8O5qYk3yuPiy01V8M" />

        <activity
            android:name=".SigninActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieSearchActivity"
            android:label="@string/title_activity_movie_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewReleasesActivity"
            android:label="@string/title_activity_new_releases"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewDVDReleasesActivity"
            android:label="@string/title_activity_new_dvdreleases"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
